<div class="d-flex">

  <app-filter-side-bar 
  [categoriesToDisplay]="categoriesToSend" 
  (categoriesToFilter)="filterPlantsByCategories($event)"
  ></app-filter-side-bar>

    <div class="container">

      <div class="searchbar">
        <app-searchbar
        (searchText)="onSearchTextType($event)"
        ></app-searchbar>
      </div>

      <div class="sortbybar">
        <app-sort-by-bar
          (sortAlpha)="onSortAlphaClick()"
        ></app-sort-by-bar>
      </div>
    
        <div class="container-plants">
          <app-card-plant 
          *ngFor="let plantData of selectedPlant " 
          [plant]= "plantData"
          ></app-card-plant>
        </div>
    </div>
</div>
